language: java

deploy:
  provider: s3
  access_key_id: "$ARTIFACTS_KEY"
  secret_access_key: "$ARTIFACTS_SECRET"
  region: eu-west-1
  bucket: "$ARTIFACTS_BUCKET"
  acl: public_read
  skip_cleanup: true # stop Travis from deleting all things in build...
  local_dir: build/libs
  upload-dir: minecraft/builds
