language: java

deploy:
  provider: releases
  api_key:
    secure: "${OAUTH_TOKEN}"
  file_glob: true
  skip_cleanup: true
  file: "build/libs/nadiamiona-*.jar"
  on:
    repo: MoriTanosuke/nadiamiona
    tags: true
